html, body {
	font-family: 'PT Sans', sans-serif;
	height: 100%;
}

a.navbar-brand{
	text-decoration: none;
	color: black;
}


.navbar-default{
	background-color: white;
}

#filler-for-navbar{
	height:50px;
	width: 100%;
}

#footer{
	width: 70%;
	text-align: center;
	border-top: solid #e7e7e7;
	border-width: 1px;
	padding:none;
	margin: auto;
	padding:20px;
}

#custom-board{
	width: 600px;
	height: 600px;
	border-style: solid;
	border-width: 1px;
	border-color: #e7e7e7;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right:auto;
	margin-left:auto;
	background-color: 	#87ceeb;
}

#space-for-footer {
	width: 100%;
	height: 5%;
	background-color: transparent;
	margin-top:1%;
}


#container{
	width: 100%;
	padding-top: 2%;
	height:60%;
}
#main-attraction{
	margin-right: 10%;
	width: 60%;
	float: right;
}
#side-attraction{
	padding-top: 5px;
	margin-left: 3%;
	width: 21%;
	float: left;
}



#explanations{
	text-align: justify;
}



