html, body{
	background-color:#262626;
	font-family: 'Montserrat', sans-serif;
    height:70%;
}

a{
	text-decoration: none;
	color:white;
}

#title{
	margin:50px 245px;
    color:white;
    font-size: 55px;
}

#explanation {
	color:white;
	font-size: 30px;
    float:left;
    padding-left:65px;
}


.fading {
	display:none;
}

#images{
    height:200px;
    width:200px;
    float: right;
    position:relative;
    right: 225px;
    bottom: 300px;
}